@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 1rem;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.navbar ul li.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    text-decoration: none;
    font-weight: 500;
    margin-right:35px;
}

.logo {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    padding: 30px 0;
}

.navbar ul li {
    font-size: 25px;
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
    text-decoration: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    top: 0;
    left: 0;
    padding: 20px 0%;
}

.navbar ul li::after {
    content: '';
    height: 4px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .navbar {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 852px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }
    
    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar ul {
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: .3s ease;
    }
    
    #check:checked~.navbar ul {
        height: 100px;
    }

    .navbar ul li {
        display: block;
        font-size: 25px;
        margin: 1.5rem 0;
        text-align: center;
    }
}

.content {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
}

.content h1 {
    font-size: 10vw;
    color:#fff;
    font-weight: 600;
    transition: 0.5s;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a:hover {
    transform: scale(1.15);
}

.content a:active {
    transform: scale(0.96);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
    background-color: #f2f2f2;
    align-items: center;
    min-height: 100vh;
}

.saya-img {
    display: inline-block;
    position: relative;
    bottom: 100px;
}

.saya-img img {
    cursor: pointer;
    position: relative;
    right: 50px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    transition: 0.5s ease;
    clip-path: circle();
    border-radius: 50%;
}

.saya-img:hover img {
    transform: scale(1.1);
}

.saya-img img {
    max-width: 100%;
    position: relative;
    width: 450px;
    height: auto;
    padding: 80px 0px;
    display: flex;
    margin-right: auto;
    margin: auto 30px;
    background-position: center;
}

.aboutmejudul {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
    color:black;
    text-align: center;
    font-weight: 500;
    margin: 20px auto;
    flex: 1;
}

.aboutmejudul h3 {
    font-size: 50px;
    color: #666;
    margin-bottom: 25px;
    position: relative;
}

.contentt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    margin: 75px auto;
}

.aboutmejudul h3::after {
    content:"";
    position: relative;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #666;
}

.aboutme p {
    background-color: #ffff;
    font-size: 3vh;
    margin: 0px auto;
    flex: 1;
    width: 900px;
    height: 245px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
    padding: 20px;
    transition: transform 0.5s ease;
    position: relative;
    right: 140px;
    bottom: 100px;
    text-align: justify;
}

.aboutme p:hover {
    transform: scale(1.1);
}

@media (max-width: 1664px) {
    .saya-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        align-items: center;
        position: relative;
        left: 5px;
    }

    .aboutme p {
        position: relative;
        left: 1px;
        width: 50%;
        font-size: 25px;
    }

@media (max-width: 1229px) {
    .aboutme p {
        font-size: 20px;
        height: 18rem;

    }
}

@media (max-width: 676px) {
    .aboutme p {
        width: 22rem;
    }
}

@media (max-width: 463px) {
    .aboutme p {
        width: 27rem;
    }
}

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.hobby {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 350px;
    gap: 25px;
}

.myhobbyy h3 {
    font-size: 50px;
}

.myhobbyy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 50px;
    color: #666;
}

.myhobbyy h3::after {
    content:'';
    position: relative;
    width: 100%;
    height: 6%;
    display: block;
    margin: 10px auto;
    background-color: #666;
}

.card {
    position: relative;
    bottom: 290px;
    background-color: #ffff;
    margin: 20px;
    width: 450px;
    height: 425px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 16px;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
}

.card p {
    color:#666;
    font-size: 15px;
    text-align: justify;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.contactt h3 {
    font-size: 50px;
    position: relative;
    bottom: 200px;
}

.contactt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 50px;
    color: #666;
}

.contactt h3::after {
    content:'';
    position: relative;
    width: 100%;
    height: 6%;
    display: block;
    margin: 10px auto;
    background-color: #666;
}

.container {
    background-color: #f2f2f2;
    width:80%;
    margin: 50px auto;
}

.contact-box {
    background-color: #f2f2f2;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    position: relative;
    bottom: 170px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #666;
    color: white;
    position: relative;
    bottom: 170px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #666;
    font-size: 23px;
}

button {
    background: #666;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(161, 161, 161, 0.3);
    cursor: pointer;
}

.contact-right h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    top: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    display: flex;
    flex: wrap;
    font-size: large;
    padding-top: 20px;
    text-align: justify;
    position: relative;
    left: 30px;
    bottom: 50px;
}

.socialmedialogo {
    margin-top: 40px;
    display: flex;
    position: relative;
    top: 310px;
    left: 100px;
    flex-wrap: wrap;
}

.socialmedialogo li {
    list-style: none;
    margin-right: 70px;
}

.socialmedialogo li a ion-icon {
    color: #f2f2f2;
    font-size: 2em;
}

.socialmedialogo li a:hover {
    color: #fff;
}

@media  (max-width: 1574px) {
    .contact-right {
        padding: 0;
        width: 50%;
        margin-bottom: 110px;
        font-size: 80%;
    }

    tr td {
        font-size: 15px;
    }

    .socialmedialogo li a {
        position: relative;
        bottom: 30px;
    }
}

@media (max-width: 1458px) {
    .contact-right {
        padding: 0;
        max-width: 100%;
        font-size: 60%;
    }
}

@media (max-width: 1236px) {
    .contact-right {
    font-size: 60%;

    }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer {
    background: #444;
    padding: 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    max-width: 1170px;
    margin: auto;
}
    
ul {
    list-style: none;
}

.footer-col {
    width: 50%;
    padding: 0 15px;
    position: relative;
    left: 200px;
}

.footer-col h1 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h1::before {
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffff;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffff;
    padding-left: 10px;
}

.pt {
    color: #ffff;
    position: relative;
    top: 30px;
    text-align: center;
}

.pt h1 {
    font-weight: 400;
    font-size: 15px;
}

@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 695px) {
    .footer-col {
        width: 100%;
    }
}